<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petmileymain">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_petmily"
        android:label="펫밀리"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_petmily_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ImageSearch"></activity>
        <activity android:name=".ShelterPostActivite" />
        <activity android:name=".ShelterActivity" />
        <activity android:name=".PromoteWriteActivity" />
        <activity android:name=".PromoteActivity" />
        <activity android:name=".PromotePostActivity" />
        <activity android:name=".PromoteReviseActivity" />
        <activity android:name=".UserRevise" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".UserInformation" />
        <activity android:name=".MainListActivity" />
        <activity android:name=".UserWrotePost" />
        <activity android:name=".LostAndFound" />
        <activity android:name=".LostAndFoundMain" />
        <activity android:name=".LostAndFoundPost" />
        <activity android:name=".LostAndFoundRevise" />
        <activity android:name=".ReviewActivity" />
        <activity android:name=".ReviewPostActivity" />
        <activity android:name=".ReviewWriteActivity" />
        <activity android:name=".ReviewReviseActivity" />
    </application>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>